@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
    background-color: white;
}

#running_man {
    display:block;
    margin:0 auto;
}

.heading {
    font-family: Droid Sans;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}